<div class='tasks-scroll'>
  <p class='task active'>カスタム</p>
  <p class='task'>パスポート</p>
  <p class='task'>旅の予定</p>
  <p class='task'>ビザ</p>
  <p class='task'>航空券</p>
  <p class='task'>予防接種</p>
  <p class='task'>お金</p>
  <p class='task'>ネット環境</p>
  <p class='task'>防犯対策</p>
  <p class='task'>海外旅行保険</p>
  <p class='task'>宿</p>
  <p class='task'>持ち物</p>
  <p class='task'>便利アプリ</p>
</div>