<% if @remain_days == 14  %>
  <p class='comment'>パスポートの用意はできてる？<br>ビザの用意はできてる？</p>
<% elsif @remain_days == 11  %>
  <p class='comment'>旅の予定は簡単に立ててある？</p>
<% elsif @remain_days == 10  %>
  <p class='comment'>航空券の用意はできてる？</p>
<% elsif @remain_days == 9  %>
  <p class='comment'>国際キャッシュ・クレジットカードは作ってある？</p>
<% elsif @remain_days == 8  %>
  <p class='comment'>海外旅行保険に入ってる？</p>
<% elsif @remain_days == 7  %>
  <p class='comment'>ネット環境の準備はできてる？</p>
<% elsif @remain_days == 6  %>
  <p class='comment'>外貨の両替場所や方法は決まってる？</p>
<% elsif @remain_days == 5  %>
  <p class='comment'>初日の宿の予約はした？</p>
<% elsif @remain_days == 4  %>
  <p class='comment'>防犯対策、しっかりできてる？</p>
<% elsif @remain_days == 3  %>
  <p class='comment'>パッキングは終わってる？</p>
<% elsif @remain_days == 2  %>
  <p class='comment'>便利アプリのインストール<br>してある？</p>
<% elsif @remain_days == 1  %>
  <p class='comment'>心の準備はできてる？</p>
<% elsif @remain_days == 0  %>
  <p class='comment'>新たな一歩、全力で楽しんでいこう！！<br>今日から君はバックパッカー！</p>
<% else %>
  <p class='comment'>タスクリストを見ながら旅の準備を進めよう！</p>
<% end %>











