<div class='dialog'>
  <h5>今回の旅の記録を消して<br>新しい旅に出ますか？</h5>
  <%= link_to 'はい', plan_path, method: :delete, class: 'btn' %>
  <button type='button' id='close' class='btn'>いいえ</button>
</div>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script>
$(function () {
    $('.open').on('click', () => {
        $('.dialog').fadeIn();
    });
    $('button').on('click', () => {
        $('.dialog').fadeOut();
    });
});

</script>
