<h1>旅の目的地を<br>決めましょう！</h1>
<div class='step'>
  <%= link_to 'Make a Schedule!!', new_plan_country_path, class: 'btn', data: {"turbolinks" => false} %>
  <%= image_tag 'backpacker.png', class: 'backpacker'%>
</div>