<div class='items-scroll'>
  <p class='item active'>カスタム</p>
  <p class='item'>必需品</p>
  <p class='item'>電子機器</p>
  <p class='item'>日用品</p>
  <p class='item'>衣類(暖)</p>
  <p class='item'>衣類(寒)</p>
  <p class='item'>薬類</p>
  <p class='item'>その他</p>
</div>