@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  width: 100%;
  background-color:#FBFCDA;
  color: #6B6666;
}

h1{
  font-size: 200%;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.button {
  border-radius: 5px;
  background: #FCF7DA;
  border: 1px solid #6B6666;
  width: 150px;
  height: 70px;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}

@mixin btn {
  border-radius: 5px;
  background: #FCF7DA;
  border: 2px solid #6B6666;
  color: #6B6666;
  margin-bottom: 20px;
  margin-top: 50px;
}

@mixin page {
  font-size: 20px;
  margin: 60px auto 200px auto;
  width: 80%;
  text-align: center;
  .btn {
    @include btn;
    padding-top: 2px;
  }
  input,select {
    height:30px;
  }
  label {
    margin-bottom: 0px;
    margin-top: 20px;
  }
}

i{
  color: #6B6666;
}

// home#index

.home {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  img {
    width: 100%;
  }
  .btn {
    @include btn;
  }
}

// home#step

.step {
  text-align: center;
  margin-bottom: 200px;
  width: 100%;
  .btn {
    @include btn;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
  }
  p {
    margin: 20px;
  }
  .btn-line-user {
    @include btn;
    font-size: 15px;
    width: 31%;
    margin-top: 0px;
    padding: 5px;
  }
  .backpacker {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 12px;
  }
  .dialog {
    display: none;
    position: fixed;
    top: 35%;
    left: 10%;
    width: 80%;
    text-align: center;
    padding: 0;
    border: 2px #6B6666 solid;
    border-radius: 5px;
    background-color: #FCF7DA;
    box-shadow: 1px 1px 2px #333;
    color: #6B6666;
    .btn {
      @include btn;
      margin-top: 10px;
    }
    h5 {
      margin-top: 20px;
      font-weight: bold;
    }
  }
}

// users#new

.user-new-common {
  width: 100%;
  .user-new {
    margin: 60px auto 200px auto;
    width: 80%;
    .submit {
      text-align: center;
      .btn {
        @include btn;
        padding-top: 2px;
      }
    }
    label {
      margin-top: 10px;
      margin-bottom: 3px;
    }
    input,select {
      height: 30px;
    }
    .sex {
      input[type="radio"]
      {
      transform: scale(0.5); 
      margin:10px;
      display: inline;
      }
      label.collection_radio_buttons {
       display: block;
       text-align: center;
      }
    }
    .password_reset_link{
       display: block;
       text-align: center;
    }
    .link {
      text-align: center;
      display: block;
      margin-bottom: 15px;
    }
  }
}

// users#show

.user-show {
  margin-bottom: 30%;
  margin-top: 10%;
  .user-passport {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0.7rem;
    img {
      width: 90%;
      height: 53%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .user-image {
      position: absolute;
      width: 25%;
      left: 9%;
      top: 20%;
    }
     .last_name {
       position: absolute;
       font-weight: bold;
       top: 31%;
       left: 37%;
     }
     .first_name {
      position: absolute;
      font-weight: bold;
      top: 42%;
      left: 37%;
     }
     .sex {
      position: absolute;
      font-weight: bold;
      top: 63%;
      left: 37%;
     }
     .birthday {
      position: absolute;
      font-weight: bold;
      top: 53%;
      left: 55%;
     }
    }
    .user-button {
      text-align: center;
      margin-top: 40px;
      .btn {
        @include btn;
        margin-bottom: 0px;
        width: 30%;
      }
  }
  .dialog {
    display: none;
    position: fixed;
    top: 35%;
    left: 10%;
    width: 80%;
    text-align: center;
    padding: 0;
    border: 2px #6B6666 solid;
    border-radius: 5px;
    background-color: #FCF7DA;
    box-shadow: 1px 1px 2px #333;
    color: #6B6666;
    .btn {
      @include btn;
      margin-top: 10px;
    }
    h5 {
      margin-top: 20px;
      font-weight: bold;
    }
  }
}

// plan

.plans-container {
  text-align: center;
  width: 100%;
  margin-bottom: 200px;
  .plans-element{
    .plans-list {
      margin: 50px auto;
      display: block;
      width: 80%;
      .plans-title {
        border-bottom: 2px solid #6B6666;
        font-size: 20px;
        margin-top: 20px;
      }
      p {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: bold;
      }
      .departure_date {
        margin-bottom: 0px;
      }
      .departure-date-edit {
        margin-top: 0px;
      }
    }
  }
  .not-plan {
    width: 100%;
    .btn {
      @include btn;
      margin-top: 150px;
    }
    img {
     width: 60%;
     margin-top: 50px;
    }
  }
}

// country

.country-common  {
  width: 100%;
  margin-bottom: 200px;
  .country {
    margin:50px auto;
    text-align: center;
    width: 80%;
    .continent {
      cursor: pointer;
      font-size: 25px;
      margin-top: 30px;
      border-bottom: 2px solid;
    }
    .continent:hover {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .btn {
      @include btn;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    .undecided{
      font-size: 20px;
      color:#6B6666;
    }
    input[type=checkbox] {
      transform: scale(1);
    }
  }
  #box_1, #box_2, #box_3, #box_4, #box_5, #box_6, #box_7 {
    display: none;
    font-size: 20px;
    text-align: left;
 }
}

// days
.days-common {
  width: 100%;
  margin-bottom: 200px;
  .days-container{
    text-align: center;
    margin-top: 50px;
    input {
      display: none;
    }
     .btn {
       @include btn;
       display: block;
       margin: 40px auto 0 auto;
     }
    label {
      cursor: pointer;
      border: 2px solid #6B6666;
      background: #FCF7DA;
      border-radius: 10px;
      font-size: 20px;
      width: 80%;
      margin-top: 10px;
    }
    .radio_button:checked + .label {
      background-color: #FFF1A1;
    }
    img {
      margin-top: 20px;
      width: 100%;
    }
  }
}

// schedule
.schedule-common {
  width: 100%;
  margin-bottom: 200px;
  text-align: center;
  .schedule {
    margin-top: 50px;
    position: relative;
    display: inline-block;
    width: 80%;
    height: 40px;
    border: 2px solid #6B6666;
    border-radius: 7px;
    input[type="date"] {
      position: relative;
      width: 296px;
      height: 36px;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      font-size: 20px;
    }
    .btn {
      @include btn;
      margin-top: 40px;
      margin-bottom: 0px;
    }
  }
  img {
    width: 90%;
    margin-top: 50px;
  }
}